@model Admin.Models.ChuDe

@{
    ViewData["Title"] = "Details";
}

<h1>Chi tiết</h1>

<div>
    <h4>Chủ đề</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TenChuDe)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TenChuDe)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MonHoc)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MonHoc)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TrangThai)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TrangThai)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.MaChuDe">Sửa</a> |
    <a asp-action="Index">Danh sách</a>
</div>
