@model Admin.Models.LopHocPhan

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Xóa</h1>

<h3>Bạn có chắc chắn muốn xóa?</h3>
<div>
    <h4>Lớp học phần</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TenLopHP)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TenLopHP)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MaGiangVien)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MaGiangVien)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MaMonHoc)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MaMonHoc)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MaLop)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MaLop)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TrangThai)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TrangThai)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="MaLopHP" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Danh sách</a>
    </form>
</div>
