@model Admin.ModelJoin.SinhVienJoin

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>SinhVien</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SinhVien.TenSV)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SinhVien.TenSV)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SinhVien.DiaChi)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SinhVien.DiaChi)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SinhVien.SoDienThoai)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SinhVien.SoDienThoai)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SinhVien.Email)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SinhVien.Email)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SinhVien.TrangThai)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SinhVien.TrangThai)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Lop.TenLop)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Lop.TenLop)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TaiKhoan.UserName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TaiKhoan.UserName)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.SinhVien.MaSV">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
