@model Admin.Models.CTBaiKT

@{
    ViewData["Title"] = "Delete";
}

<h1>Xóa</h1>

<h3>Bạn có chắc chắn muốn xóa?</h3>
<div>
    <h4>Chi tiết bài kiểm tra</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MaBaiKT)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MaBaiKT)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CauHoi)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CauHoi)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.STT)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.STT)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="MaCTBaiKT" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Danh sách</a>
    </form>
</div>
