@model Admin.Models.CTLopHP

@{
    ViewData["Title"] = "Details";
}

<h1>Chi tiết</h1>

<div>
    <h4>Chi tiết lớp học phần</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MaLopHocPhan)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MaLopHocPhan)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MaSinhVien)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MaSinhVien)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.MaCTLopHP">Sửa</a> |
    <a asp-action="Index">Danh sách</a>
</div>
