@model IEnumerable<Admin.ModelJoin.CTLopHocPhanJoin>

@{
    ViewData["Title"] = "Index";
}

<h1>Quản lý học ghép</h1>

<p>
    <a asp-action="Create">Tạo mới</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.LopHocPhan.TenLopHP)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SinhVien.TenSV)
            </th>
            <th>
                Mã số sinh viên
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CTLopHP.Status)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.LopHocPhan.TenLopHP)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SinhVien.TenSV)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TaiKhoan.UserName)
            </td>
            <td>
                @if (item.CTLopHP.Status)
                {
                    <button type="button" class="btn btn-success">Hoạt động</button>
                }
                else
                {
                    <button type="button" class="btn btn-secondary">Không hoạt động</button>
                }
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.CTLopHP.MaCTLopHP">Sửa</a> |
                <a asp-action="Details" asp-route-id="@item.CTLopHP.MaCTLopHP">Chi tiết</a> |
                <a asp-action="Delete" asp-route-id="@item.CTLopHP.MaCTLopHP">Xóa</a>
            </td>
        </tr>
}
    </tbody>
</table>
<script>
    $(document).ready(function () {
        $('.table').DataTable();
    });
</script>