@model Admin.ModelJoin.KetQuaJoin

@{
    ViewData["Title"] = "Details";
}

<h1>Chi tiết</h1>

<div>
    <h4>Kết quả</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TaiKhoan.UserName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TaiKhoan.UserName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BaiKiemTra.TenBaiKT)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BaiKiemTra.TenBaiKT)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.KetQua.Diem)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.KetQua.Diem)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.KetQua.TrangThai)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.KetQua.TrangThai)
        </dd>
    </dl>
</div>
<div>
    @*<a asp-action="Edit" asp-route-id="@Model.KetQua.MaKetQua">Edit</a> |*@
    <a asp-action="Index">Back to List</a>
</div>
