@model IEnumerable<Admin.ModelJoin.KetQuaJoin>

@{
    ViewData["Title"] = "Index";
}

<h1>Trang chủ Kết quả</h1>

@*<p>
    <a asp-action="Create">Create New</a>
</p>*@
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.TaiKhoan.UserName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BaiKiemTra.TenBaiKT)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.KetQua.Diem)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.KetQua.TrangThai)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TaiKhoan.UserName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BaiKiemTra.TenBaiKT)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.KetQua.Diem)
            </td>
            <td>
                @if (item.KetQua.TrangThai)
                {
                    <button type="button" class="btn btn-success">Hoạt động</button>
                }
                else
                {
                    <button type="button" class="btn btn-secondary">Không hoạt động</button>
                }
            </td>
            <td>
                @*<a asp-action="Edit" asp-route-id="@item.MaKetQua">Sửa</a> |*@
                <a asp-action="Details" asp-route-id="@item.KetQua.MaKetQua">Chi tiết</a> |
                <a asp-action="Delete" asp-route-id="@item.KetQua.MaKetQua">Xóa</a>
            </td>
        </tr>
}
    </tbody>
</table>
<script>
    $(document).ready(function () {
        $('.table').DataTable();
    });
</script>