@model Admin.Models.CauHoi

@{
    ViewData["Title"] = "Details";
}

<h1>Chi tiết thông tin</h1>

<div>
    <h4>Câu hỏi</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TenCauHoi)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TenCauHoi)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.A)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.A)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.B)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.B)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.C)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.C)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.D)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.D)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DapAn)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DapAn)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MaChuDe)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MaChuDe)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TrangThai)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TrangThai)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.MaCauHoi">Sửa</a> |
    <a asp-action="Index">Danh sách</a>
</div>
