@model IEnumerable<Admin.ModelJoin.CauHoiJoinChuDe>

@{
    ViewData["Title"] = "Index";
}

<h1>Trang chủ câu hỏi</h1>
<p>
    <a asp-action="Create">Tạo mới</a>
</p>

<table class="table display" id="myTable">
    <thead>
        <tr>
            <th>
              Tên câu hỏi
            </th>
            <th>
                Đáp án A
            </th>
            <th>
               Đáp án B
            </th>
            <th>
                Đáp án C
            </th>
            <th>
                Đáp án D
            </th>
            <th>
                Đáp án đúng
            </th>
            <th>
              Chủ đề
            </th>
            <th>
              Trạng thái
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.CauHoi.TenCauHoi)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CauHoi.A)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CauHoi.B)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CauHoi.C)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CauHoi.D)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CauHoi.DapAn)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ChuDe.TenChuDe)
                </td>
                <td>
                    @if (item.CauHoi.TrangThai)
                    {
                        <button type="button" class="btn btn-success">Hoạt động</button>
                    }
                    else
                    {
                        <button type="button" class="btn btn-secondary">Không hoạt động</button>
                    }
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.CauHoi.MaCauHoi">Sửa</a> |
                    <a asp-action="Details" asp-route-id="@item.CauHoi.MaCauHoi">Chi tiết</a> |
                    <a asp-action="Delete" asp-route-id="@item.CauHoi.MaCauHoi">Xóa</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<script>
    $(document).ready(function () {
        $('#myTable').DataTable();
    });
</script>