@model Admin.Models.MonHoc

@{
    ViewData["Title"] = "Details";
}

<h1>Chi tiết</h1>

<div>
    <h4>Môn học</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TenMonHoc)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TenMonHoc)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SoTinChi)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SoTinChi)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SoTiet)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SoTiet)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Type)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Type)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TrangThai)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TrangThai)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.MaMonHoc">Sửa</a> |
    <a asp-action="Index">Danh sách</a>
</div>
