@model Admin.Models.BaiKiemTra

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>BaiKiemTra</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TenBaiKT)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TenBaiKT)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.KeyBaiKT)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.KeyBaiKT)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Ngay)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Ngay)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MaGiangVien)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MaGiangVien)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MaLopHocPhan)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MaLopHocPhan)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TrangThai)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TrangThai)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ThoiGianLam)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ThoiGianLam)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.MaBaiKT">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
