@model IEnumerable<Admin.ModelJoin.BaiKiemTraJoinLopHocPhan>

@{
    ViewData["Title"] = "Index";
}

<h1>Trang chủ bài kiểm tra</h1>

<p>
    <a asp-action="Create">Tạo mới</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.BaiKiemTra.TenBaiKT)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BaiKiemTra.KeyBaiKT)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BaiKiemTra.Ngay)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.GiangVien.TenGiangVien)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LopHocPhan.TenLopHP)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BaiKiemTra.TrangThai)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BaiKiemTra.ThoiGianLam)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.BaiKiemTra.TenBaiKT)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BaiKiemTra.KeyBaiKT)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BaiKiemTra.Ngay)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GiangVien.TenGiangVien)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LopHocPhan.TenLopHP)
            </td>
            <td>
                @if (item.BaiKiemTra.TrangThai)
                {
                    <button type="button" class="btn btn-success">Hoạt động</button>
                }
                else
                {
                    <button type="button" class="btn btn-secondary">Không hoạt động</button>
                }
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BaiKiemTra.ThoiGianLam)
            </td>
            <td>
                @if (!item.BaiKiemTra.TrangThaiBatDau)
                {
                    <a asp-action="Edit" asp-route-id="@item.BaiKiemTra.MaBaiKT">Sửa | </a> 
                    <a asp-action="Delete" asp-route-id="@item.BaiKiemTra.MaBaiKT">Xóa | </a>
                }
                <a asp-action="Details" asp-route-id="@item.BaiKiemTra.MaBaiKT">Chi tiết</a> |
            </td>
        </tr>
}
    </tbody>
</table>
<script>
    $(document).ready(function () {
        $('.table').DataTable();
    });
</script>